{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>UoE UESO Elections - Vote Online!</h1>
                <h2>No More Queueing!</h2>
                <h3>Your Vote Your Choice!</h3>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">Proceed!</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}